<% if config[:tech_docs][:ga4_gtm_tracking_id].is_a?(String) && !config[:tech_docs][:ga4_gtm_tracking_id].empty? %>
  <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on <%= config[:tech_docs][:service_name] %>" hidden="hidden" data-module="cookie-banner">
    <div class="govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">
            Cookies on <%= config[:tech_docs][:service_name] %>
          </h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use the service and make improvements.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button id="cookie-banner__accept" type="button" class="govuk-button" data-module="govuk-button">
          Accept analytics cookies
        </button>
        <button id="cookie-banner__reject" type="button" class="govuk-button" data-module="govuk-button">
          Reject analytics cookies
        </button>
      </div>
    </div>
  </div>
<% end %>
